{{define "field_datetime"}}
{{$meta := .Meta}}
{{$name := .Name}}
{{$value := .Value}}
{{$required := .Required}}
{{$readonly := .Readonly}}
{{$includeTime := index $meta "include_time"}}
{{if eq $includeTime nil}}{{$includeTime = true}}{{end}}
<input type="{{if $includeTime}}datetime-local{{else}}date{{end}}"
       class="form-control"
       id="{{$name}}"
       name="{{$name}}"
       value="{{htmlDatetime $value $includeTime}}"
       {{if index $meta "min"}}min="{{index $meta "min"}}"{{end}}
       {{if index $meta "max"}}max="{{index $meta "max"}}"{{end}}
       {{if $required}}required{{end}}
       {{if $readonly}}readonly{{end}}>
{{end}}

{{define "field_options_datetime"}}
{{$meta := .Meta}}
        <div id="field-options-datetime" class="field-ui-options d-none">
            <div class="form-check mb-2">
                <input class="form-check-input plugin-option" type="checkbox" id="opt_datetime_include_time"
                       data-key="include_time" {{if index $meta "include_time"}}checked{{end}}>
                <label class="form-check-label" for="opt_datetime_include_time">
                    {{t .Locale "Include time"}}
                </label>
            </div>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label for="opt_datetime_min" class="form-label small">{{t .Locale "Minimum date"}}</label>
                    <input type="date" class="form-control form-control-sm plugin-option" id="opt_datetime_min"
                           data-key="min" value="{{index $meta "min"}}">
                </div>
                <div class="col-md-6 mb-2">
                    <label for="opt_datetime_max" class="form-label small">{{t .Locale "Maximum date"}}</label>
                    <input type="date" class="form-control form-control-sm plugin-option" id="opt_datetime_max"
                           data-key="max" value="{{index $meta "max"}}">
                </div>
            </div>
        </div>
{{end}}
