{{define "field_button"}}
{{/* Button element template
     Context: .Meta (parsed button metadata), .Element (FormElement), .FormRef (form reference_id)
*/}}
{{$meta := .Meta}}
{{$el := .Element}}
{{$formMachineName := .FormMachineName}}
{{/* Ensure strictly boolean result to prevent code leakage */}}
{{$hasServerAction := false}}
{{if or (ne $el.ButtonFiloCode "") $el.ButtonRunSave}}
    {{$hasServerAction = true}}
{{end}}


<button type="button" 
        class="btn btn-{{if $el.ButtonStyle}}{{$el.ButtonStyle}}{{else}}primary{{end}} w-100"
        id="btn_{{$el.MachineName}}"
        data-form-action="{{$el.MachineName}}"
        data-has-server-action="{{$hasServerAction}}"
        {{if $el.ButtonConfirmMsg}}data-confirm-message="{{$el.ButtonConfirmMsg}}"{{end}}
        {{if $hasServerAction}}data-action-url="/form/{{$formMachineName}}/action/{{$el.MachineName}}"{{end}}>
    {{$el.Label}}
</button>
{{end}}
