{{define "field_textarea"}}
{{$meta := .Meta}}
{{$name := .Name}}
{{$value := .Value}}
{{$required := .Required}}
{{$readonly := .Readonly}}
{{$rows := index $meta "rows"}}
{{if not $rows}}{{$rows = 3}}{{end}}
<textarea class="form-control" 
          id="{{$name}}" 
          name="{{$name}}"
          rows="{{$rows}}"
          {{if index $meta "placeholder"}}placeholder="{{index $meta "placeholder"}}"{{end}}
          {{if and (index $meta "maxLength") (gt (index $meta "maxLength") 0)}}maxlength="{{index $meta "maxLength"}}"{{end}}
          {{if $required}}required{{end}}
          {{if $readonly}}readonly{{end}}>{{$value}}</textarea>
{{end}}
