{{define "field_reference"}}
{{$meta := .Meta}}
{{$name := .Name}}
{{$value := .Value}}
{{$required := .Required}}
{{$readonly := .Readonly}}
{{$entity := index $meta "entity"}}
{{$display := index $meta "display"}}
{{$allowEmpty := index $meta "allow_empty"}}
<select class="form-select"
        id="{{$name}}"
        name="{{$name}}"
        {{if $required}}required{{end}}
        {{if $readonly}}disabled{{end}}>
    {{if or (not $required) $allowEmpty}}
    <option value="">--</option>
    {{end}}
    {{range eavReferenceChoices $entity $display}}
    <option value="{{.Value}}" {{if eq $value .Value}}selected{{end}}>{{.Label}}</option>
    {{end}}
</select>
{{end}}
