{{define "group_fieldset"}}
{{$node := .Node}}
{{$values := .Values}}
{{$depth := .Depth}}
{{$meta := .Meta}}
{{$form := .Form}}
<div class="col-12 col-md-{{$node.Element.ColSpan}}">
    {{if index $meta "show_legend"}}
    <fieldset class="{{if not (index $meta "hide_border")}}border rounded{{end}} p-3 mb-3">
        <legend class="h6">{{$node.Element.Label}}</legend>
        {{if $node.Element.HelpText}}<small class="text-muted d-block mb-2">{{$node.Element.HelpText}}</small>{{end}}
        <div class="row">
            {{range $node.Children}}
                {{template "render_element" (dict "Node" . "Values" $values "Depth" (add $depth 1) "Form" $form)}}
            {{end}}
        </div>
    </fieldset>
    {{else}}
    {{/* No legend - just a container */}}
    <div class="mb-3">
        {{if $node.Element.HelpText}}<small class="text-muted d-block mb-2">{{$node.Element.HelpText}}</small>{{end}}
        <div class="row">
            {{range $node.Children}}
                {{template "render_element" (dict "Node" . "Values" $values "Depth" (add $depth 1) "Form" $form)}}
            {{end}}
        </div>
    </div>
    {{end}}
</div>
{{end}}
