{{define "tools_menu"}}
<li class="dropdown-submenu">
  <a class="dropdown-item dropdown-toggle" href="/tools">{{template "icon-tools"}} Ferramentas</a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/tools/database-schema">Database Schema</a></li>
    <li><a class="dropdown-item" href="/tools/forms">Forms</a></li>
    <li><a class="dropdown-item" href="/tools/users">Users</a></li>
    <li><a class="dropdown-item" href="/tools/menu-editor">Menu Editor</a></li>
  </ul>
</li>
{{end}}
