{{define "tools_menu"}}
<li class="dropdown-submenu">
  <a class="dropdown-item dropdown-toggle" href="/tools">{{template "icon-tools"}} {{t $.Locale "Tools"}}</a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/tools/database-schema">{{t $.Locale "Database Schema"}}</a></li>
    <li><a class="dropdown-item" href="/tools/forms">{{t $.Locale "Forms"}}</a></li>
    <li><a class="dropdown-item" href="/tools/translations">{{t $.Locale "Translations"}}</a></li>
    <li><a class="dropdown-item" href="/tools/search-forms">{{t $.Locale "Global Search"}}</a></li>
    <li><a class="dropdown-item" href="/tools/users">{{t $.Locale "Users"}}</a></li>
    <li><a class="dropdown-item" href="/tools/menu-editor">{{t $.Locale "Menu Editor"}}</a></li>
    <li><a class="dropdown-item" href="/tools/filo">{{t $.Locale "Filo code"}}</a></li>
  </ul>
</li>
{{end}}
