{{define "eav_ui_group_accordion_edit"}}
{{ $collapseID := printf "accordion-item-%d" .Context.Field.ID }}
{{ $bodyID := printf "accordion-body-%d" .Context.Field.ID }}
{{ $parentID := .ParentAccordion }}
<div class="accordion-item">
  <h2 class="accordion-header" id="heading-{{$collapseID}}">
    <button class="accordion-button {{if not .Options.StartOpen}}collapsed{{end}}" type="button" data-bs-toggle="collapse" data-bs-target="#{{$bodyID}}" aria-expanded="{{if .Options.StartOpen}}true{{else}}false{{end}}" aria-controls="{{$bodyID}}">
      {{.Context.Field.Label}}
    </button>
  </h2>
  <div id="{{$bodyID}}" class="accordion-collapse collapse {{if .Options.StartOpen}}show{{end}}" aria-labelledby="heading-{{$collapseID}}" {{if $parentID}}data-bs-parent="#{{$parentID}}"{{end}}>
    <div class="accordion-body">
      {{if .ChildrenRowsEdit}}
        {{range .ChildrenRowsEdit}}
        <div class="row g-3 mb-1">
          {{range .Children}}
          <div class="col-md-{{.ColumnWidth}}">{{.Content}}</div>
          {{end}}
        </div>
        {{end}}
      {{end}}
    </div>
  </div>
</div>
{{end}}
