{{define "eav_ui_integer_options"}}
<div class="row g-3">
  <div class="col-md-6">
    <label for="integer_min" class="form-label">Valor mínimo</label>
    <input type="number" class="form-control" id="integer_min" name="integer_min" value="{{if .Options.Min}}{{.Options.Min}}{{end}}">
  </div>
  <div class="col-md-6">
    <label for="integer_max" class="form-label">Valor máximo</label>
    <input type="number" class="form-control" id="integer_max" name="integer_max" value="{{if .Options.Max}}{{.Options.Max}}{{end}}">
  </div>
</div>
{{end}}
