{{define "eav_ui_list_edit"}}
{{- $label := .Context.Field.Label -}}
<div class="mb-3">
  {{if $label}}
    <label for="{{.InputName}}" class="form-label">{{$label}}
      {{if .Context.Field.Required}}<span class="text-danger">*</span>{{end}}
      {{if .ReadOnly}}<span class="badge text-bg-secondary ms-2">Somente leitura</span>{{end}}
    </label>
  {{end}}
  <select class="form-select" id="{{.InputName}}" name="{{.InputName}}" aria-label="{{if $label}}{{$label}}{{else}}{{.Context.Field.MachineName}}{{end}}" {{if .ReadOnly}}disabled{{end}}>
    <option value="">Selecione</option>
    {{range .Options.Values}}
      <option value="{{.}}" {{if eq $.Value .}}selected{{end}}>{{.}}</option>
    {{end}}
  </select>
  <div class="form-text"><code>{{.Context.Field.MachineName}}</code></div>
  {{if .Error}}
    <div class="text-danger small">{{.Error}}</div>
  {{end}}
</div>
{{end}}
