{{define "eav_ui_list_options"}}
<div class="mb-3">
  <label for="list_values" class="form-label">Valores (separados por vírgula)</label>
  <textarea class="form-control" id="list_values" name="list_values" rows="2">{{join .Options.Values ", "}}</textarea>
  <div class="form-text">Use vírgula para separar as opções apresentadas.</div>
</div>
{{end}}
