{{define "eav_ui_list_view"}}
{{- $label := .Context.Field.Label -}}
<div class="mb-3">
  {{if $label}}
    <div class="fw-semibold">{{$label}}</div>
  {{end}}
  <div>{{if .Display}}{{.Display}}{{else}}-{{end}}</div>
</div>
{{end}}
