{{define "eav_ui_divider_options"}}
<div class="mb-3">
  <label for="divider_class" class="form-label">Classe CSS opcional</label>
  <input type="text" class="form-control" id="divider_class" name="divider_class" value="{{.Options.Class}}" placeholder="ex.: my-divider">
  <div class="form-text">Deixe vazio para usar o estilo padrão.</div>
</div>
{{end}}
