{{define "eav_field_ui_controls"}}
<br />
<div id="ui_is_ui_container" class="mb-3 form-check {{if .HideIsUI}}d-none{{end}}" {{if .OOB}}hx-swap-oob="outerHTML"{{end}}>
  <input type="checkbox" class="form-check-input" id="is_ui" name="is_ui" {{if or .ForceIsUI .IsUI}}checked{{end}}>
  <label class="form-check-label" for="is_ui">Apenas UI (sem persistência)</label>
</div>
<div id="ui_is_readonly_container" class="mb-3 form-check {{if .HideReadOnly}}d-none{{end}}" {{if .OOB}}hx-swap-oob="outerHTML"{{end}}>
  <input type="checkbox" class="form-check-input" id="is_readonly" name="is_readonly" {{if .IsReadonly}}checked{{end}}>
  <label class="form-check-label" for="is_readonly">Somente leitura</label>
  <div class="form-text">Exibe o valor nas telas de uso, porém bloqueia edição.</div>
</div>
<div id="ui_required_container" class="mb-3 form-check {{if .HideRequired}}d-none{{end}}" {{if .OOB}}hx-swap-oob="outerHTML"{{end}}>
  <input type="checkbox" class="form-check-input" id="required" name="required" {{if .Required}}checked{{end}}>
  <label class="form-check-label" for="required">Campo obrigatório</label>
</div>
{{end}}
