{{define "eav_ui_decimal_options"}}
<div class="row g-3">
  <div class="col-md-6">
    <label for="decimal_min" class="form-label">Valor mínimo</label>
    <input type="number" step="any" class="form-control" id="decimal_min" name="decimal_min" value="{{if .Options.Min}}{{.Options.Min}}{{end}}">
  </div>
  <div class="col-md-6">
    <label for="decimal_max" class="form-label">Valor máximo</label>
    <input type="number" step="any" class="form-control" id="decimal_max" name="decimal_max" value="{{if .Options.Max}}{{.Options.Max}}{{end}}">
  </div>
</div>
{{end}}
